/bin
/checkouts
/classes
/deploy
/drafts
/ehcache.disk.store.dir
/exclude
/lib
/media
/out
/reports
/resources/public/js/gen
/_site
/.sass-cache
/target
/tmp
.checkstyle
.classpath
.externalToolBuilders
.idea
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
.pmd
.project
.ruleset
.settings
Gemfile.lock
pom.xml
pom.xml.asc
release.properties
*.class
*.log
*.jar
